@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.home {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(180px, auto);
  grid-template-areas:
    "header header header header"
    "main-content-2 main-content-2 main-content-2 main-content-2"
    "main-content-3 main-content-3 main-content-4 main-content-4"
    "main-content-5 main-content-5 main-content-6 main-content-6"
    "sidebar-left main-1 main-2 sidebar-right"
    "sidebar-left main-3 main-4 sidebar-right"
    "main-content main-content main-content main-content"
    "main-5 main-5 main-6 main-6"
    "footer footer footer footer";

  @include xxl {
    grid-template-columns: repeat(2, 1fr);
  }

  @include xl {
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }

  @include md {
    grid-template-columns: repeat(1, 1fr);
  }
  @include sm {
    grid-template-rows: repeat(120px, auto);
  }

  .box {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    align-items: stretch;
    border: 2px solid $soft-bg;
    border-radius: 10px;

    .tombstone {
      display: flex;
      justify-content: center;
      width: 100%;
      border: 1px solid $soft-bg;
      border-radius: 10px;
    }
  }

  // TombStoneBox
  .box0 {
    grid-area: header;
  }

  .box1 {
    grid-area: sidebar-left;
  }

  .box2 {
    grid-area: main-content-3;
  }

  .box3 {
    grid-area: main-content-4;
  }

  .box4 {
    grid-area: main-content-5;
  }

  .box5 {
    grid-area: main-content-6;
  }

  .box6 {
    grid-area: main-4;
  }

  .box7 {
    grid-area: sidebar-right;
  }

  .box8 {
    grid-area: main-5;
  }

  .box9 {
    grid-area: main-6;
  }

  .box10 {
    grid-area: main-content-2;
  }

  .box11 {
    grid-area: main-content;
  }
}
