@import "../../styles/variables.scss";

.footer {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 30px;
    background-color: $main-bg;

    span {
        display: flex;
        align-items: center;
        &:first-child {
            font-weight: bold;
        }

        &:last-child {
            font-size: 14px;
        }

        &:hover {
            background-color: red;
        }
    }
}